{% extends 'base.html' %}
{% block title %}Good Causes - Profile{% endblock title %}
{% block body %}
<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="#hero">
                    <h1><span>GO</span>OD <span>CAU</span>SES</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a href="/" data-after="Home">Home</a></li>
                    <li><a href="/about" data-after="About">About</a></li>
                    <li><a href="/services" data-after="Service">Services</a></li>
                    <li><a href="/contact" data-after="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<form method="POST" action="/fundraising" class="form">
    {% csrf_token %}
    <h2>User Profile</h2>
    <div class="form-group">
        <label for="email">Organization Name:</label>
        <div class="relative">
            <input class="form-control" name="frname" type="text" maxlength="10" required="" placeholder="Give your organization name...">
            <i class="fa fa-phone"></i>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Contact Number:</label>
        <div class="relative">
            <input class="form-control" name="frphone" type="text" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required="" placeholder="Type your Mobile Number...">
            <i class="fa fa-phone"></i>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Event Description:</label>
        <div class="relative">
            <input class="form-control" type="url" name="eventdesc" pattern="https?://.+" required="" placeholder="Brief introduction about event">
            <i class="fa fa-building"></i>
        </div>
    </div>	
      <div class="form-group">
          <label for="email">Expected Amount:</label>
        <div class="relative">
            <input class="form-control" name="funds" type="text" id="tags" required="" placeholder="How much funds you are expecting...">
            <i class="fa fa-css3"></i>
        </div>
    </div>
      <div class="form-group">
          <label for="email">Attach Details:</label>
        <div class="relative">
            <div class="input-group">
        <label class="input-group-btn">
          <span class="btn btn-default">
              Browse&hellip; <input type="file" id="document" name="documents" required>
          </span>
        </label>
        {% comment %} <input type="text" class="form-control" required="" placeholder="Attachment..." readonly> {% endcomment %}
        {% comment %} <i class="fa fa-link"></i> {% endcomment %}
        </div>
        </div>
    </div>
                    
    <div class="tright">
        <a href=""><button class="movebtn movebtnre" type="Reset"><i class="fa fa-fw fa-refresh"></i> Reset </button></a>
        <a href="/list"><button class="movebtn movebtnsu" type="Submit">Submit <i class="fa fa-fw fa-paper-plane"></i></button></a>
    </div>
  </form>

  <div class="thanks" style="display: none;">
      <h4>Thank you!</h4>
      <p><small>Your message has been successfully sent.</small></p>
  </div>
  {% endblock body %}