{% extends 'base.html' %}
{% block title %}Good Causes - Home{% endblock title %}
{% block body %}
<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="#hero">
                    <h1><span>GO</span>OD <span>CAU</span>SES</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a href="/" data-after="Home">Home</a></li>
                    <li><a href="/about" data-after="About">About</a></li>
                    <li><a href="/services" data-after="Service">Services</a></li>
                    <li><a href="/contact" data-after="Contact">Contact</a></li>
                    <li><a href="/login" id="logintab" data-after="Login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="hero">
    <div class="hero container">
        <div class="hero-img">
            <img src="static/pic 1.png" class="he1" alt="img">
            <img src="static/pic 2.jpg" class="he2" alt="img">
        </div>

        <div>
            <h1>Welcome <span></span></h1>
            <h1>To <span></span></h1>
            <h1>GOOD <span></span></h1>
            <h1>CAUSES <span></span></h1>
            <a href="/login" type="button" class="cta">Join the community</a>
        </div>
</section>

{% endblock body %}